body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}

.demotivator {
  max-width: 100vh;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.mem {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.mem-img {
  position: absolute;
  width: 100%;
  height: auto;
  border: 1px solid white;
  padding: 2px;
  box-sizing: border-box;
  z-index: 0;
  opacity: 100%;
}

.mem-img:first-child {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

.slide-selection-area {
  display: flex;
  align-self: flex-end;
  margin: 20px 0;
}

.tap-area {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px dotted green;
  border-radius: 100%;
}

.default-input-marker {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.input-marker {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background: none;
  border: 1px solid white;
  border-radius: 100%;
  transition: background-color 0.5s;
}

.comment-section {
  max-width: 80%;
  display: flex;
}

.comment {
  position: absolute;
  opacity: 0;
  z-index: 0;
  font-size: 2.5em;
  color: azure;
}

.comment:first-child {
  position: relative;
  z-index: 0;
  opacity: 100%;
}

.tap-area:hover .input-marker {
  background-color: rgb(199, 199, 199);
  border: none;
}

#mem1:checked~.mem .slide-selection-area .tap-area:nth-child(1)>.input-marker {
  background: green;
}
#mem2:checked~.mem .slide-selection-area .tap-area:nth-child(2)>.input-marker {
  background: green;
}
#mem3:checked~.mem .slide-selection-area .tap-area:nth-child(3)>.input-marker {
  background: green;
}
#mem4:checked~.mem .slide-selection-area .tap-area:nth-child(4)>.input-marker {
  background: green;
}
#mem5:checked~.mem .slide-selection-area .tap-area:nth-child(5)>.input-marker {
  background: green;
}

#mem1:checked~.mem .images .mem-img,
#mem1:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem1:checked~.mem .images .mem-img:nth-child(1),
#mem1:checked~.comment-section .comment:nth-child(1) {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

#mem2:checked~.mem .images .mem-img,
#mem2:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem2:checked~.mem .images .mem-img:nth-child(2),
#mem2:checked~.comment-section .comment:nth-child(2) {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

#mem3:checked~.mem .images .mem-img,
#mem3:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem3:checked~.mem .images .mem-img:nth-child(3),
#mem3:checked~.comment-section .comment:nth-child(3) {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

#mem4:checked~.mem .images .mem-img,
#mem4:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem4:checked~.mem .images .mem-img:nth-child(4),
#mem4:checked~.comment-section .comment:nth-child(4) {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

#mem5:checked~.mem .images .mem-img,
#mem5:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem5:checked~.mem .images .mem-img:nth-child(5),
#mem5:checked~.comment-section .comment:nth-child(5) {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

