body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}

.demotivator {
  max-width: 1280px;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.mem {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.mem-img {
  position: absolute;
  width: 100%;
  height: auto;
  border: 1px solid white;
  padding: 2px;
  box-sizing: border-box;
  z-index: 0;
  opacity: 100%;
}

.mem-img:first-child {
  position: relative;
  z-index: 0;
  opacity: 100%;
}

.slide-selection-area {
  display: flex;
  align-self: flex-end;
  margin: 20px 0;
}

.tap-area {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted green;
  border-radius: 100%;
}

.input-marker {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 100%;
}

.comment-section {
  max-width: 80%;
}

.comment {
  position: absolute;
  opacity: 0;
  z-index: 0;
  font-size: 2.5em;
  color: azure;
}

.comment:first-child {
  position: relative;
  z-index: 0;
  opacity: 100%;
}