body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}

.demotivator {
  max-width: 100vh;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.mem {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.images {
  overflow: hidden;
}
.mem-img {
  position: absolute;
  width: 100%;
  height: auto;
  border: 1px solid white;
  padding: 2px;
  box-sizing: border-box;
  z-index: 0;
  opacity: 100%;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.mem-img:first-child {
  position: relative;
  z-index: 1;
  opacity: 100%;
}

.mem-img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(transparent, black);
  z-index: 0;
  opacity: 0;
}

.slide-selection-area {
  display: flex;
  align-self: flex-end;
  margin: 20px 0;
  z-index: 10;
}

.tap-area {
  width: 4em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px dotted green;
  border-radius: 100%;
}

.default-input-marker {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.input-marker {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  background: none;
  border: 1px solid white;
  border-radius: 30%;
  transform: rotate(45deg);
  transition: background-color ease-out 0.5s, transform ease-in-out 0.5s;
}

.comment-section {
  max-width: 80%;
  display: flex;
}

.comment {
  position: absolute;
  opacity: 0;
  z-index: 0;
  font-size: 2.5em;
  color: azure;
  transition: all ease-in-out 1s;
}

.comment:first-child {
  position: relative;
  z-index: 0;
  opacity: 100%;
}

.tap-area:hover .input-marker {
  background-color: rgba(240, 248, 255, 0.5);
  transform: rotate(180deg);
}

#mem1:checked~.mem .slide-selection-area .tap-area:nth-child(1)>.input-marker {
  background: rgb(199, 199, 199);
}
#mem2:checked~.mem .slide-selection-area .tap-area:nth-child(2)>.input-marker {
  background: rgb(199, 199, 199);
}
#mem3:checked~.mem .slide-selection-area .tap-area:nth-child(3)>.input-marker {
  background: rgb(199, 199, 199);
}
#mem4:checked~.mem .slide-selection-area .tap-area:nth-child(4)>.input-marker {
  background: rgb(199, 199, 199);
}
#mem5:checked~.mem .slide-selection-area .tap-area:nth-child(5)>.input-marker {
  background: rgb(199, 199, 199);
}

#mem1:checked~.mem .images .mem-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem1:checked~.mem .images .mem-img:nth-child(1) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  transform: scale(1);
}

#mem2:checked~.mem .images .mem-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem2:checked~.mem .images .mem-img:nth-child(2) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  transform: scale(1);
}

#mem3:checked~.mem .images .mem-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem3:checked~.mem .images .mem-img:nth-child(3) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  transform: scale(1);
}

#mem4:checked~.mem .images .mem-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem4:checked~.mem .images .mem-img:nth-child(4) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  transform: scale(1);
}

#mem5:checked~.mem .images .mem-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#mem5:checked~.mem .images .mem-img:nth-child(5) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  transform: scale(1);
}

/* Change styles for comment with animation */

@keyframes appear {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes disappear {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#mem1:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: disappear 1s;
}
#mem1:checked~.comment-section .comment:nth-child(1) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  animation: appear 1s;
}
#mem2:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: disappear 1s;
}
#mem2:checked~.comment-section .comment:nth-child(2) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  animation: appear 1s;
}
#mem3:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: disappear 1s;
}
#mem3:checked~.comment-section .comment:nth-child(3) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  animation: appear 1s;
}
#mem4:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: disappear 1s;
}
#mem4:checked~.comment-section .comment:nth-child(4) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  animation: appear 1s;
}
#mem5:checked~.comment-section .comment {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: disappear 1s;
}
#mem5:checked~.comment-section .comment:nth-child(5) {
  position: relative;
  z-index: 1;
  opacity: 100%;
  animation: appear 1s;
}

/* Styles for mobile screen */
@media (max-width: 414px) {
  .slide-selection-area {
    align-self: center;
  }
  .tap-area {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px dotted green;
    border-radius: 100%;
  }
  .comment {
    font-size: 1.5em;
  }
}